<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JewelConnection" connectionString="Data Source=MANDEEP;Initial Catalog=wjewel;User ID=sa;Password=Mana1092#"
      providerName="System.Data.SqlClient" />
    <add name="IshalInc.wJewel.Desktop.Properties.Settings.IshalincConnectionString"
      connectionString="Data Source=MANDEEP;Initial Catalog=wjewel;User ID=sa;Password=Mana1092#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
